body{
  margin:0px 5px;
}

nav{
  height:26px;
  background:#FFE4C4;
  border-bottom:2px solid #1874CD;
}
nav ul { 
  list-style: none; 
  margin: 0px; 
  padding: 0px; 
}
nav ul li{
  float:left;
}
nav ul li a{
  display:block;
  padding:0px 8px;
  height:26px;
  line-height:26px;
  text-decoration:none;
  float:left;
}
nav ul li a:hover{
  background:#1E90FF;
}
nav ul li a#current{
  background:#FFB6C1;
}

article{
  margin:10px 20px;
  height:600px;
}

article ul { 
  list-style:none;  
}
article ul li { 
  width:200px; 
  float:left; 
  margin:20px 0 0px 20px; 
  display:inline; 
  text-align:left;
  padding:10px;
  color:navy;
  text-shadow:5px 5px 5px gray;
  font-weight:bold;
  border:solid 3px blue;
  border-radius:40px 20px;
  -moz-border-radius:40px 20px;
  -o-border-radius:40px 20px;
  -webkit-border-radius:40px 20px;
  background:skyblue;
  word-wrap:break-word;
  box-shadow: 10px 10px 5px #888888;
}
select{
   width:175px;
   height: 25px;
   overflow: hidden;
   background: skyblue;
}
.txt{
   width:170px;
   height: 25px;
   border:1px solid blue;
   background: skyblue;  
}
.bt{
   width:80px;
   height: 25px;
   border:1px solid blue;
   background: skyblue;    
}
