body{
  margin:0px 10px;
  background:#E0FFFF;
}

nav{
  height:26px;
  background:#FFE4C4;
  border-bottom:2px solid #1874CD;
}
nav ul { 
  list-style: none; 
  margin: 0px; 
  padding: 0px; 
}
nav ul li{
  float:left;
}
nav ul li a{
  display:block;
  padding:0px 8px;
  height:26px;
  line-height:26px;
  text-decoration:none;
  float:left;
}
nav ul li a:hover{
  background:#1E90FF;
}
nav ul li a#current{
  background:#FFB6C1;
}

#s_record { 

  height: auto; 
  width: 150px; 
  float: left; 
}

#main { 
  height: auto; 
  width: 70%; 
  margin-left: 200px; 
}

#button{
  height:40px;
  width:100px;
  background:#32CD32;
  border-style:none;
  font-size:13pt;
}

table{
  border-collapse:collapse;
}
tr{
  border-bottom:1px solid #FFFFF0;
}
th{
  text-align:left;
  background:#32CD32;
  border-bottom:2px solid #1874CD;
}

td{
  padding:5px;
  text-align:left;
}
tr:hover{
  color:#458B00;
}
.txt{
  height:24px;
  font-size:12pt;
  border:1px solid #f60; 
  color:#03C;
  background:#E0FFFF;
}